/* 页面基本布局 */
.container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

header {
    background: var(--main-color);
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

main {
    padding: 15px;
}

footer {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
