@media screen and (max-width: 768px) {
    .container,
    header nav,
    footer {
        width: 100%;
        padding: 0 20px;
    }

    header,
    nav ul,
    footer {
        text-align: center;
    }

    nav ul {
        padding: 0;
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .welcome,
    .about,
    .resume,
    .portfolio,
    .blog,
    .contact {
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    header .logo {
        width: 40px; /* Slightly smaller logo for mobile */
    }

    header nav ul li a {
        font-size: 1em; /* Smaller font size for nav links */
    }

    .welcome h1,
    .about h1,
    .resume h1,
    .portfolio h1,
    .blog h1 {
        font-size: 1.5em; /* Larger font size for headings */
    }

    .contact,
    .contact p {
        font-size: 0.9em; /* Adjust font size for contact information */
    }
}
